@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: white;
   font-weight: 900;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  /* background-color: rgb(200 221 212)"; */
  background: #e3ffe1;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar img{
  
  height: 110px;
  width: 110px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #add0ab;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  color: black;
  margin-top: 5px;

  background-color:#e3ffe1 ;
  

}    

.wrapper .sidebar ul li a{
  color: black;
  display: inline;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #0d3c0f;
}
    
.wrapper .sidebar ul li:hover a{
color: white;
}
 


.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #0d3c0f;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  /* color: #717171; */
  color: navajowhite;

  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-top: 5px;
 
}

.wrapper .main_content .info div img{
  /* margin-bottom: 20px; */
  width: 100%;
  
  /* align-items: center; */
  /* align-content: center; */
 
}
.wrapper .main_content .info div ar row{
  margin-bottom: 5px;
}

.mb-1, .my-1 {
  margin-bottom: -0.75rem!important;
}


navbar-nav {
  
  margin-bottom: -23px;
  
}
.navbar {
  padding: 8px 230px;
  
}
.navbars {
 
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.mes h1, h1 {
  font-size: 2.5rem;
  background-color: #0d3c0f;
 
  
}
marquee{
  width: 100%;
  background-color: rgb(241, 241, 241);
  padding: 30px 0;
  color: #0d3c0f ;
    font-size: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
    border-radius: 5px;
}
.navbars {
  padding: 7px 24px;
}
.table td, .table th {
  padding: 17px 74px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}


@media (max-height: 500px){
  .social_media{
    display: none !important;
  }
}

  .fitbg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}